/*@font-face {
    font-family: "GtekTechnology";
    src: url(http://irecaldema.github.io/assets/fonts/GtekTechnology.ttf);
}*/

/*.nombre {
    font-family: GtekTechnology;
}*/

.enlinea{
    display: inline;
    font-weight: bold;
}

.negrita{
    font-weight: bold;
}