/*@font-face {
    font-family: "GtekTechnology";
    src: url(http://irecaldema.github.io/assets/fonts/GtekTechnology.ttf);
}*/

/*.nombre {
    font-family: GtekTechnology;
}*/

.enlinea{
    display: inline;
    font-weight: bold;
}

.form-control{
    border-style: solid none none;
    height: 40px;    
    background-color: #F9F8F2;
}